@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  /* Light Mode Defaults */
  --background: #ffffff;
  --foreground: #09090b; /* Zinc 950 */
  --card: #ffffff;
  --card-foreground: #09090b;
  --popover: #ffffff;
  --popover-foreground: #09090b;
  --primary: #e11d48; /* Pink/Red 600 */
  --primary-foreground: #ffffff;
  --secondary: #f4f4f5; /* Zinc 100 */
  --secondary-foreground: #18181b;
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  --accent: #f59e0b; /* Amber */
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #e4e4e7; /* Zinc 200 */
  --input: #e4e4e7;
  --ring: #e11d48;
}

.dark {
  /* Dark Mode Defaults */
  --background: #09090b; /* Zinc 950 */
  --foreground: #fafafa; /* Zinc 50 */
  --card: #18181b; /* Zinc 900 */
  --card-foreground: #fafafa;
  --popover: #09090b;
  --popover-foreground: #fafafa;
  --primary: #e11d48;
  --primary-foreground: #ffffff;
  --secondary: #27272a; /* Zinc 800 */
  --secondary-foreground: #fafafa;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  --accent: #f59e0b;
  --accent-foreground: #fafafa;
  --destructive: #7f1d1d;
  --destructive-foreground: #fafafa;
  --border: #27272a;
  --input: #27272a;
  --ring: #e11d48;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  antialiased: true;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
